.header {
    display: flex;
    justify-content: space-between;
    background-color: #27aae1;
}

.header svg {
    font-size: 30px;
    /* color: white; */
}

.header svg:hover{
    cursor: pointer;
}