.header {
    display: flex;
    justify-content: space-between;
    background-color: #27aae1;
}

.header svg {
    font-size: 30px;
    /* color: white; */
}

.header input {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.header svg:hover{
    cursor: pointer;
}