body{
  background-color: #dfe2e7 !important;
}
.bg-app{
  background: linear-gradient(71deg, #27aae1, #2293c4) !important;
}

*{
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px;
  margin: 0px;
}

.link {
  cursor: pointer;
}
.active-app{
  background: #238cb9;
  color: white;
}


span, p, a, i{
  font-family: 'Raleway', sans-serif;
}

svg {
  color: #09232e;
}
/* button{
  background-color: #27aae1 !important;
  border: none !important;
  color: black !important;
} */